.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
 
    a {
        transition: 0.5s;
        border-radius: 20px;
        font-size: 1.4em;
        text-align: center;

        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .nav-active {
        opacity: 1;
        color: $color-2;
    }
}