.about-hero {
    .contact {
        display: flex;
        flex-direction: column;
        color: $color-5;
        font-size: 0.9em;
        margin-top: 40px;
        
        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .social-contact {
            display: flex;
        }

        .contact-icons {
            font-size: 1.1em;
            margin-right: 10px;
        }

        img {
            margin-right: 15px;
            margin-top: 15px;
            width: 40px;
        }
    }

    .portrait {
        opacity: 1;
        width: 400px;
        border-radius: 3px;
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translate(0, -50%);
        animation: progress-display 0.5s;
    }

    .about-text {
        animation: progress-display 0.5s;
        text-align: justify;
        position: absolute;
        top: 50%;
        left: 57%;
        transform: translate(-50%, -50%);
        color: $color-4;
        font-size: 1.2em;

        a {
            color: $color-2;

            &:hover {
                color: $color-2;
                opacity: 0.7;
            }
        }

        span {
            color: $color-2;
        }
    }
}

@media screen and (max-width: 1400px) {
    .about-hero {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        // width: 100%;
        // flex-direction: column;

        .portrait {
            margin-top: 20px;
            width: 40%;
            height: 40%;
            transform: translate(0,0);
            position: static;
            // object-fit: cover;
        }

        .about-text {
            transform: translate(0,0);
            position: static;
            width: 50%;
        }
    }
}

@media screen and (max-width: 800px) {
    .about-hero {
        width: 85%;
        margin: 0 auto;
        align-content: center;
        display: flex;
        flex-direction: column;

        .portrait {
            margin: 30px auto;
            width: 70%;
            transform: translate(0,0);
            position: static;
        }

        .about-text {
            width: 100%;
            transform: translate(0,0);
            position: static;
        }
    }
}